analysis*
Reference/*
sequence/*
prereqs/*
*.swp
*.out
*.pyc
*[Ll]og*
tmp*
*.pkl
__pycache__
config.make
godot
iPythonNotebooks/.ipynb_checkpoints
geo
.snakemake
fit_and_eval*
*cluster.py
*.sbatch
*.qsub
*.err
*.pickle.in
*.func.pickle
